In [ ]:
import pandas as pd

In [ ]:
# creating a simple DataFrame using "dict"
# each (key,value) will create a new column
# the values will be your rows and the keys will be your column names
data = {
    'apples':[3,5,4,1],
    'oranges':[2,0,1,5],
    'bananas':[10,12,0,14]
}

# once you have your dict, you can pass it to the DataFrame builder
purchases = pd.DataFrame(data)
purchases

In [ ]:
# indexes by default are numbers 
# you can change the indexes by using the index argument and inputting a list 
# same size as the number of rows, in this case 4

indexes = ['Mary', 'Juan', 'Kyle', 'Gaby']

purchases = pd.DataFrame(data, index=indexes)
purchases

### Slicing, selecting, extracting
1. By column: 
- df['column name']
- df[[list of column names]]
2. By rows:
- df.loc['by name']
- df.iloc[numerical index]

In [ ]:
# by column use brackets
# inputting just one string will output a single series

apple_series = purchases['apples']
apple_series
# type(apple_series)

In [ ]:
# to create a new DataFrame you need to input a list of strings

apple_df = purchases[['apples']]
apple_df
# type(apple_df)

In [ ]:
# you can have a list of multiple column names 
apple_bananas = purchases[['apples','bananas']]
apple_bananas

In [ ]:
# locate rows using index names
purchases.loc['Gaby']

In [ ]:
# locate rows using index number
purchases.iloc[3]

In [ ]:
# you can use the : to get more rows 
purchases.loc['Juan':'Gaby']

In [ ]:
purchases.iloc[1:]

## LOADING A CSV FILE

In [ ]:
# loading a csv file into a DataFrame
# you can input the column name that corresponds to the indexes 
# the easiest way to make sure is to copy the path of your file 

path = r"C:\Users\Gabriela Acevedo\Desktop\IMDB-Movie-Data.csv"
movies_df = pd.read_csv(path,index_col='Title')
movies_df

In [ ]:
# or you can set it later using the command set_index()
movies_df = pd.read_csv("IMDB-Movie-Data.csv")
movies_df

In [ ]:
movies_df = movies_df.set_index('Title')
movies_df

## IMPORTANT DATAFRAME OPERATIONS

### Viewing your data and getting information about it 
- df.head(): print out the first few rows
- df.tail(): print out the last few rows 
- df.info(): provides the essential details about your dataset
- df.shape: outputs just a tuple of (#rows, #columns)

In [ ]:
# print the first 5 rows of your data
movies_df.head(5)

In [ ]:
# print the last 5 rows of your data
movies_df.tail(5)

In [ ]:
movies_df.info()

In [ ]:
# remember that the number of columns do not include the column with the indexes
movies_df.shape

### Handling duplicates 
- df.append(df2): return a copy with the second dataframe appended without affecting the original DataFrame 
- df.drop_duplicate(): returns a copy of the dataframe with the duplicated rows removed without affecting the original

In [ ]:
# append a exact copy to the end of our original dataframe
dup_df = movies_df.append(movies_df)
dup_df.shape # you can see the number of rows multiplied

In [ ]:
# keep argument: which duplicate to keep 
## - First (default): keeps the first occurence 
## - Last: keeps the las occurence 
## - False: drops all the duplicates 

dup_df = dup_df.drop_duplicates()
dup_df.shape

In [ ]:
dup_df = movies_df.append(movies_df)
dup_df = dup_df.drop_duplicates(keep=False)
dup_df.shape

### Column Cleanups 
- df.columns: prints out the column names of the DataFrame 
- df.rename(): rename some or all columns via a dict

In [ ]:
movies_df.columns

In [ ]:
# lets say we don't want parenthesis 

movies_df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


movies_df.columns

In [ ]:
# you can also set a list to the column names 
# lets make a new list with the columns in lower case 

columns_df = movies_df.columns

lower_case_columns = [i.lower() for i in columns_df]
lower_case_columns

In [ ]:
movies_df.columns = lower_case_columns
movies_df.columns

### Missing Values (nulls)
Elements in the table that are (commonly) np.nan or None. You can do two things
1. Get rid of rows or columns with nulls
2. Replace nulls with non-null values, a technique known as imputation

- df.isnull(): check which cells in our DataFrame are null
- df.dropna(): will delete any row with at least a single null value, but it will return a new DataFrame without altering the original one
- df.dropna(axis=1): to drop the columns with at least one null value
- fillna(): fills the null values with a set value

In [ ]:
# lets check what elements are null
# this is not very usefull because it will show True for each element that is null
movies_df.isnull()

In [ ]:
# we can use the method sum() to check how many null values each columns has 
# this will sum each element that is True (null value)
movies_df.isnull().sum()

In [ ]:
dropped_na_rows = movies_df.dropna()
dropped_na.info()

In [ ]:
dropped_na_col = movies_df.dropna(axis=1)
dropped_na_col.columns

#### Imputation

In [ ]:
# first lets extract the column we want to imputate and create a new variable
# brackets in a DataFrame are used to specify a column (.loc['index'] to specify a row)
revenue = movies_df['revenue_millions']
revenue.head()

In [ ]:
# lets replace all the null values with the mean of the revenues that do have a value 

revenue_mean = revenue.mean()
revenue_mean

In [ ]:
# having the inplace=True will affect the original movies_df DataFrame instead of creating a new copy 
revenue.fillna(revenue_mean, inplace=True)

In [ ]:
# check to see the total of null values from each column
movies_df.isnull().sum()

### Understanding your variables
- df.describe(): get a summary of the distribution of continuous variables
- col.value_counts(): tell us the frequency of all values in a column
- df.corr(): generates a table with the correlations between continuous variables

In [ ]:
# will show the statistics for continuous variables
movies_df.describe()

In [ ]:
# you can use the describe method on a single column with categorical values
movies_df['genre'].describe()

In [ ]:
movies_df['genre'].value_counts().head(10)

In [ ]:
movies_df.corr()

### Conditional Selections

In [ ]:
# you can create a condition that will output a series with True or False for each row
# here we want to see which movies are directed by Ridle Scott 

condition = (movies_df['director'] == "Ridley Scott")

condition.head()

In [ ]:
# If we want to filter out the movies that are not directed by Ridley Scott (create a DataFrame with only the movies by him)
# we need to pass the condition to the DataFrame 

movies_df[movies_df['director'] == 'Ridley Scott']
# this translates to: select movies_df where movies_df director is equal to Ridley Scott

In [ ]:
# we can add  different conditions by using | for "or" and & for "and"
movies_df[(movies_df['director'] == 'Christopher Nolan') | (movies_df['director'] == 'Ridley Scott')].head()

In [ ]:
# you can also use the method .isin() to make it more concise 
movies_df[movies_df['director'].isin(['Christopher Nolan', 'Ridley Scott', 'James Gunn'])].head()

In [ ]:
# you can filter using most of the conditions you can think of 
# lets say we want all movies that were released between 2005 and 2010, 
# have a rating above 8.0
# but made below the 25th percentile in revenue

# we need to add each condition inside a parenthesis 
# we need to use & to add all the conditions together 

movies_df[
    ((movies_df['year'] >= 2005) & (movies_df['year'] <= 2010))
    & (movies_df['rating'] > 8.0)
    & (movies_df['revenue_millions'] < movies_df['revenue_millions'].quantile(0.25))
]

## BRIEF PLOTTING

In [ ]:
movies_df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating')

In [ ]:
movies_df['rating'].plot(kind='hist', title='Rating')

In [ ]:
movies_df['rating'].plot(kind="box")